body {
  width: 100%;
  height: 100%;
  margin: 0;
  align-content: center;
}
img
{
  align-content: center;

}
nav{
  align-content: center;
}
<p>{
padding: 10px;

align-content: center;
}
div{
  float: left;
}
<a>{


}
<section id="featured-property">{
  hard width: 800px;
  content: '\f106';
  :vertical
}
<section id="details">
